* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

nav {
    background-color: #ff6600;
    width: 100%;
    float: left;
    /* nao consigo fixar */
    /* position: fixed; */
    /* z-index: 999; */

}

nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    display: block;
}

nav a img {
    height: 50px;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;

}

nav ul li {
    list-style-type: none;
    display: inline-block;

}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.icone-responsivo{
    float: right;    
    display: none;
    padding: 10px;
    cursor: pointer;
}

body {
    width: 92%;
    margin: 0 auto;

}

html {
    background-color: #FFE84F;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 10px;
}

p {
    padding: 10px;
}

#container {
    width: 100%;
    background-color: #ffffff;
    box-shadow: #555bff 0px 0px 0px 3px, #1fc11b 0px 0px 0px 6px, #ffd913 0px 0px 0px 9px, #ff9c55 0px 0px 0px 12px, #ff5555 0px 0px 0px 15px;
    float: left;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    width: 100%;
    float: left;
}

#video {
    width: 100%;

}

main {
    width: 100%;
    float: left;
}


.vid-colu {
    width: 50%;
    float: left;
    padding: 10px;

}

iframe {
    width: 100%;
    height: 400px;
}
.exibir{ 
    display: inline-block
}

@media only screen and (max-width: 768px) {
    nav ul li {
        display: block;
        font-size: 12px;
    }

    #container {
        width: 100%;
        float: left;
    }

    #video {
        width: 100%;
    }

    .vid-colu {
        width: 100%;
        float: left;
    }

    iframe {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .icone-responsivo{
        display: block;
    }

    .exibir{
        display: none;
    }

}